# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# ML / DL artifacts
*.h5
*.pt
*.pth
*.ckpt
*.joblib

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
# Data (ignore all real data)
data/*

# Allow placeholder only
!data/README.md
