# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Data (DO NOT PUSH RAW DATA)
data/
datasets/
outputs/
results/

# ML / DL artifacts
*.h5
*.pt
*.pth
*.ckpt
*.joblib

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

